/* just random so that it will save */

body { 
background-color: white;
height: 1500px;
}
h1{
    font-size: 125px;
    text-align: center;
    padding: 100px;
    position: absolute;
    color: white;
    -webkit-text-stroke-width:5px ;
    -webkit-text-stroke-color: black;
    font-family: sans-serif;
}
.pageTop{
    height: 500px;
    width: 100%; 
    margin: 0;
    padding: 0;  
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
    background-color:forestgreen;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 20px 70px;
    text-decoration: none;
  }
  li a:hover {
    background-color: mediumspringgreen;
  }
  #MainImage{
    z-index: -1;
    position: absolute;
  }
  footer{
    float: left;
  
  }
