/* just random so that it will save */

body { 
background-color: aqua;
}
h1{
    font-size: 125px;
    text-align: center;
}
.pageTop{
    height: 500px;
    width: 100%;
    background-color: blue;
     object-fit: cover;
}

.container {
    display: flex;
    align-items: center;
}

.text {
    margin-right: 20px; /* Adjust the margin as needed */
}

.textLeft {
    margin-left: 20px; /* Adjust the margin as needed */
}